body {
  background-color: black;
  background-image: url(ef7d77a98254d2544b78f0241c369bb6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background: #fff;
  font-size: 1em; }

